@using ITLATV.Core.Application.ViewModels.Series;
@model List<SerieViewModel>
@{
    ViewData["Title"] = "Series";
}

<div class="container-fluid">

    <div class="row mb-3">
        <div class="col-3 offset-9">
            <a asp-controller="Serie" asp-action="Create" class="btn btn-outline-success fw-bold rounded-pill btn-lg" style="margin-left:100px;">Crear nueva serie</a>
        </div>
    </div>

    <div class="row">

        @if (Model == null || Model.Count == 0)
        {
            <h2>No hay series</h2>
        }
        else
        {
            @foreach (SerieViewModel item in Model)
            {
                <div class="col-4">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top img-product-size" src="@item.EnlaceCaratula" />

                        <div class="card-body">
                            <h4 class="card-title text-center fs-3">@item.Nombre </h4>
                            <p class="card-text fs-5"><strong>Productora: </strong>@item.NombreProductora</p>
                            <p class="card-text fs-5" style="margin-top:-20px"><strong>Géneros: </strong>@item.GeneroPrimario, @item.GeneroSecundario</p>
                            <div class="d-flex justify-content-between align-items-center mt-4">
                                <div class="btn-group">
                                    <a asp-controller="Serie" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-warning fw-bold">Editar</a>
                                    <a asp-controller="Serie" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger fw-bold">Borrar</a>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>